<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <script src="https://cdn.tailwindcss.com/"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<!-- Background -->
<div  class="-z-10 fixed top-0 left-0 h-full w-full bg-[#e0e0e0]"></div>
<!-- Header -->

<body class="flex flex-col h-[100vh] m-0">
  {% block body %} {% endblock %}
  <!-- Footer -->
    <div class="flex items-center justify-between mt-auto p-3 h-auto w-full bg-[#292524] text-white text-md" >
    &#169; 2022 Outliers | SPIT Hackathon
    <!-- social links -->
    </div>
</body>
</html>
