{% extends "base.html" %}
{% block title %}News{% endblock %}
{% block body %}
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <!-- End Row -->
        <div class="row">
            <div class="col-12 m-b-30">
                <h4 class="d-inline">News</h4>
                <p class="text-muted">All market updates you'll need</p>
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title">Cryto on the Rise</h5>
                                <h6 class="card-subtitle mb-2 text-muted">28/01/22</h6>
                            </div>
                            <img class="img-fluid" src="/static/images/img1.png" alt="">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis risus a mi volutpat, a sollicitudin neque molestie. Sed pharetra libero at turpis aliquet laoreet. Aliquam vel ipsum elementum, auctor risus ut, vulputate mi.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text d-inline"><small class="text-muted">Last updated few hours ago</small>
                                </p><a href="#" class="card-link float-right"><small>Read More</small></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title">Tata Group Takes over Air India</h5>
                                <h6 class="card-subtitle mb-2 text-muted">28/01/22</h6>
                            </div>
                            <img class="img-fluid" src="/static/images/img2.png" alt="">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis risus a mi volutpat, a sollicitudin neque molestie. Sed pharetra libero at turpis aliquet laoreet. Aliquam vel ipsum elementum, auctor risus ut, vulputate mi.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text d-inline"><small class="text-muted">Last updated 1 day ago</small>
                                </p><a href="#" class="card-link float-right"><small>Read More</small></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title">Russia updates its CryptoCurrency Laws</h5>
                                <h6 class="card-subtitle mb-2 text-muted">26/01/22</h6>
                            </div>
                            <img class="img-fluid" src="/static/images/img3.png" alt="">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis risus a mi volutpat, a sollicitudin neque molestie. Sed pharetra libero at turpis aliquet laoreet. Aliquam vel ipsum elementum, auctor risus ut, vulputate mi.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text d-inline"><small class="text-muted">Last updated 2 days ago</small>
                                </p><a href="#" class="card-link float-right"><small>Read More</small></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6 col-lg-3">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title">Crypto SLides Puts a  Outlook of Billions</h5>
                                <h6 class="card-subtitle mb-2 text-muted">24/01/22</h6>
                            </div>
                            <img class="img-fluid" src="/static/images/img4.png" alt="">
                            <div class="card-body">
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis risus a mi volutpat, a sollicitudin neque molestie. Sed pharetra libero at turpis aliquet laoreet. Aliquam vel ipsum elementum, auctor risus ut, vulputate mi.</p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text d-inline"><small class="text-muted">Last updated 3 days ago</small>
                                </p><a href="#" class="card-link float-right"><small>Read More</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>              
        <!-- End Row -->
                <!-- End Col -->
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
{% endblock %}